* {
    box-sizing: border-box;
}
 
/* body style */
body {
    font-family: Arial;
    margin: 0;
}
 
/* title */
.header {
    background-image: url(./images/cat.jpeg);
    background-size:100% 100%;
    padding: 285px;
    text-align: center;
    color: white;
}
.header h1 {
    font-size: 40px;
}

/* topnav */
.topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.5;
    background-color: #343633;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
}
.topnav a.right {
    float: right;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
 
/* row container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
 
/* create two column */
/* side */
.side {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px 20px;
    /* margin: auto; */
    overflow-wrap: break-word;
    text-align: center;
}
.side ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.side li a {
    display: block;
    color: #000;
    /* text-align: center; */
    padding: 8px 16px;
    text-decoration: none;
}
.side li a:hover{
    background-color: #555;
    color: white;
}
 
/* main content area */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}
 
/* test image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
 
/* footer */
.footer {
    padding: 5px;
    text-align: center;
    background: #ddd;
}
 
/* 响应式布局 - 在屏幕设备宽度尺寸小于 700px 时, 让两栏上下堆叠显示 */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}
 
/* 响应式布局 - 在屏幕设备宽度尺寸小于 400px 时, 让导航栏目上下堆叠显示 */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}