


.markdown {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

code {
    padding: auto;
    height: auto;
    font-size: larger;
}

pre {
    background-color: #e5e5e5;
    border: 1px solid #666699;
      /* border: 1px dotted #666699; */
    padding: .5em 1em;
    margin: 0 2em .5em 2em;
    font-weight: bold;
    overflow: auto;
}


h1 {
    border-bottom: solid;
    text-align: center;
}

h2 {
    border-bottom: solid;
}

blockquote {
    color: greenyellow;
    border-style: solid;
    border-left-width: 10px;
    border-left-color: lightgreen;
}