


.markdown {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

code {
    padding: auto;
    height: auto;
    font-size: larger;
}

pre {
    background-color: #b8c4b0;
    border: 1px solid #666699;
      /* border: 1px dotted #666699; */
    padding: .5em 1em;
    margin: 0 2em .5em 2em;
    font-weight: bold;
    /* Prevent overflow */
    overflow: auto;  
}


h1 {
    border-bottom: solid;
    text-align: center;
}

h2 {
    border-bottom: solid;
}

blockquote {
    padding: 0px 25px;
    background-color: rgb(211, 235, 229);
    border: 1px solid #666699;
    border-left-width: 5px;
    border-left-color: rgb(76, 11, 216);
}