


* {
    box-sizing: border-box;
}
 
/* body 样式 */
body {
    font-family: Arial;
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    min-height: 100%;
}

/* 标题 + 背景图片 */
.header {
    background-image: url(/assets/images/cat.jpeg);
    background-size: 100% 100%;
    padding: 300px;
    text-align: center;
    color: whitesmoke;
}
 
/* 标题字体加大 */
.header h1 {
    font-size: 40px;
}

.header a {
    color: white;
    text-decoration: none;
}

.container-blog {
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    overflow-wrap: break-word;
    font-size: 20px;
    line-height: 1.2;
}

.container-post {
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    overflow-wrap: anywhere;
    font-size: 20px;
    line-height: 1.6;
}

.date {
    text-align: right;
    padding: 24px;
}

.content {
    padding: 20px;
}

.content h1 {
    text-align: center;
}

/* top 导航 */
.topnav {
    overflow: hidden;
}
 
/* top 导航栏样式 */
.topnav a {
    float: left;
    font-size: 32px;
    color: black;  
}


/* 底部 */
.footer {
    padding: 1px;
    text-align: center;
    background: #ddd;
}


/* 响应式布局 - 在屏幕设备宽度尺寸小于 700px 时, 让两栏上下堆叠显示 */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

/* 响应式布局 - 在屏幕设备宽度尺寸小于 400px 时, 让导航栏目上下堆叠显示 */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}