


* {
    box-sizing: border-box;
}
 
/* body 样式 */
body {
    font-family: Arial;
    margin: 0;
    min-height: 100%;
}

/* 标题 + 背景图片 */
.header {
    background-color: gray;
    text-align: center;
    margin: auto;
    padding: 100px;
}
 
/* 标题字体加大 */
.header h1 {
    font-size: 40px;
    color: #000;
}


/* 创建的列 */
.leftcolumn {
    float: left;
    width: 20%;
}


.rightcolumn {
    float: right;
    width: 80%;
}

/* 列后清除浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.sidenav {
    margin: auto;
    background-color: white;
    overflow-wrap: break-word;
    text-align: center;
}

.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.sidenav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.sidenav li a:hover{
    background-color: #555;
    color: white;
}

.content {
    overflow: auto;
    margin: auto;
    min-height: 600px;
    /* background-color: green; */
    padding: 25px 75px;
}


/* 底部 */
.footer {
    padding: 1px;
    text-align: center;
    background: #ddd;
    bottom: auto;
}


