


* {
    box-sizing: border-box;
}
 
/* body */
body {
    font-family: Arial;
    margin: 0;
}

/* header */
.header {
    background-image: url(/assets/images/cat.jpeg);
    background-size: 100% 100%;
    text-align: center;
    padding: 285px;
    color: white;
}
.header h1 {
    font-size: 40px;
}

/* topnav */
.topnav {
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
    opacity: 0.5;
    background-color: #343633;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
}
.topnav a.right {
    float: right;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Create two columns */
/* side */
.side {
    float: left;
    width: 20%;
    background-color: #f1f1f1;
    padding: 20px;
}
 
/* main */
.main {   
    float: right;
    width: 80%;
    background-color: white;
    padding: 20px;
    
}

/* 列后清除浮动  */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* sidenav */
.sidenav {
    min-height: 600px;
    overflow-wrap: break-word;
    text-align: center;
}
.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidenav h1 li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.sidenav li a:hover{
    background-color: #555;
    color: white;
}

/* content */
.content {
    overflow: auto;
    margin: auto;
    min-height: 600px;
    padding: 25px 75px;
}

/* footer */
.footer {
    padding: 1px;
    text-align: center;
    background: #ddd;
    bottom: auto;
}


