


<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="header">
    <header>
      <h1><a href='{{ site.url }}'>{{ site.title }}</a></h1>
    </header>
  </div>
  
  <div class="navbar">
    {% for item in site.nav %}
      <a href="{{ item[1] | relative_url }}">{{ item[0] }}</a> 
    {% endfor %}
  </div>

  {{ content }}

  <div class="footer">
    <p><small> <i>Build by   
      <a href="https://github.com/WGZ-W/" target="_blank">WGZ-W's Github</a>
    </i> </small></p>
  </div>
  
</body>

</html>

