
<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <div class="row"></div>
    <div class="leftcolumn">
      <div class="sidenav">
        <h1><a href="/">Home</a></h1>
        <ul>
          {% for post in site.posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  
  </div>
  
    <div class="rightcolumn">
      <div class="content">
        {{ content }}
      </div>
      
    </div>
  
  </div>

<!-- <div class="container-post">
  <div class="topnav">
    <a href="/blog.html">..</a>
  </div>
  <div class="date">
    <p>{{ page.date }}</p>
  </div>
  <div class="content"> 
    {{ content }}
  </div> -->
    

</div>

<!-- <div class="topnav">
  <a href="/blog.html" class="right">Blogs</a>
  <a href="#">About</a>
</div> -->
    


  
</body>

</html>







